<app-menu></app-menu>
<div #map class="w-100 h-100"></div>
<div class="zoom-range card">
  <div class="card-body">
    <p class="text-center">
      <span class="fw-bold">ZOOM</span>
      {{ zoomControl.value | number : "2.4-4" }} |
      <span class="fw-bold">LNG</span>
      {{ coordinates.lng | number : "2.4-4" }} |
      <span class="fw-bold">LAT</span>
      {{ coordinates.lat | number : "2.4-4" }}
    </p>
    <input
      type="range"
      class="w-100"
      [formControl]="zoomControl"
      [min]="zoom.min"
      [max]="zoom.max"
      step="00.000000000000001"
    />
  </div>
</div>
