<h2>Switches</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- Genre | Start -->
  <div class="mb-3">
    <label class="form-label">Genre</label>
    <div class="form-check">
      <input
        id="male"
        formControlName="genre"
        class="form-check-input"
        type="radio"
        value="male"
      />
      <label class="form-check-label" for="male">Male</label>
    </div>
    <div class="form-check">
      <input
        id="female"
        formControlName="genre"
        class="form-check-input"
        type="radio"
        value="female"
      />
      <label class="form-check-label" for="female">Female</label>
    </div>
  </div>
  <!-- Genre | End -->
  <!-- Notifications | Start -->
  <div class="mb-3">
    <label class="form-label">Notifications</label>
    <div class="form-check form-switch">
      <input
        id="notification"
        formControlName="notifications"
        class="form-check-input"
        type="checkbox"
      />
      <label class="form-check-label" for="notification">
        I want to receive notifications
      </label>
    </div>
  </div>
  <!-- Notifications | End -->
  <!-- Terms and conditions | Start -->
  <div class="mb-3">
    <label class="form-label">Terms and conditions</label>
    <div class="form-check">
      <input
        id="terms"
        formControlName="terms"
        class="form-check-input"
        type="checkbox"
      />
      <label class="form-check-label" for="terms">
        Accept terms and conditions
      </label>
    </div>
  </div>
  <!-- Terms and conditions | End -->
  <button class="btn btn-primary">Submit</button>
</form>
<div class="mt-4">
  <p><small>(Pristine)</small> {{ form.pristine }}</p>
  <p><small>(Touched) </small>{{ form.touched }}</p>
  <p><small>(Valid)</small> {{ form.valid }}</p>
  <div>
    <span>Form</span>
    <pre>{{ form.value | json }}</pre>
  </div>
  <div>
    <span>Person</span>
    <pre>{{ person | json }}</pre>
  </div>
</div>
