<div class="max-w-3xl mx-auto">
  <form class="grid-layout">
    <!-- Form title | Start -->
    <h2 id="form-title">
      {{ mode === "add" ? "Add a new hero" : "Edit " + hero.superhero }}
    </h2>
    <!-- Form title | End -->
    <!-- Input | Start -->
    <div id="inputs">
      <mat-form-field class="w-full">
        <mat-label>Superhero name</mat-label>
        <input
          matInput
          [(ngModel)]="hero.superhero"
          type="text"
          name="superhero"
          required
        />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Alter ego</mat-label>
        <input
          matInput
          [(ngModel)]="hero.alter_ego"
          type="text"
          name="alter_ego"
        />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>First apperance</mat-label>
        <input
          matInput
          [(ngModel)]="hero.first_appearance"
          type="text"
          name="first_appearance"
        />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Characters</mat-label>
        <input
          matInput
          [(ngModel)]="hero.characters"
          type="text"
          name="characters"
        />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Publisher</mat-label>
        <mat-select
          [(ngModel)]="hero.publisher"
          [value]="hero.publisher"
          name="publisher"
        >
          <mat-option *ngFor="let publisher of publishers" [value]="publisher">
            {{ publisher }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full mb-4 md:mb-0" subscriptSizing="dynamic">
        <mat-label>Image URL</mat-label>
        <input
          matInput
          [(ngModel)]="hero.alt_img"
          type="text"
          name="alt_img"
          required
        />
      </mat-form-field>
    </div>
    <!-- Input | End -->
    <!-- Image | Start -->
    <img
      id="hero-image"
      [src]="hero | image"
      alt="No image"
      class="w-full mb-4 rounded"
    />
    <!-- Image | End -->
    <!-- Buttons | Start -->
    <div id="buttons" class="flex gap-2">
      <button
        type="button"
        mat-stroked-button
        (click)="save()"
        class="w-full"
        color="accent"
      >
        Save
      </button>
      <button
        type="button"
        *ngIf="mode === 'edit'"
        mat-stroked-button
        (click)="delete()"
        class="w-full"
        color="warn"
      >
        Delete
      </button>
    </div>
    <!-- Buttons | End -->
  </form>
</div>
