<div class="text-layout">
  <h1>Basic pipes</h1>
  <p>Built-in pipes (Included in CommonModule)</p>
</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Uppercase">
      <p>Original: {{ lowercaseName }}</p>
      <p>Uppercase: {{ lowercaseName | uppercase }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Lowercase">
      <p>Original: {{ uppercaseName }}</p>
      <p>Lowercase: {{ uppercaseName | lowercase }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Titlecase">
      <p>Original: {{ fullname }}</p>
      <p>Titlecase: {{ fullname | titlecase }}</p>
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date pipes</h1>
  <p>Built-in pipes (Included in CommonModule)</p>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-card header="Pipe">
      <ul>
        <li>currentDate</li>
        <li>currentDate | date</li>
        <li>currentDate | date : "short"</li>
        <li>currentDate | date : "long"</li>
        <li>currentDate | date : "yyy:mm:dd"</li>
        <li>currentDate | date : "MMMM"</li>
        <li>currentDate | date : "MMMM dd"</li>
      </ul>
      <hr />
      <ul>
        <li>currentDate | date : "long" : "GMT-6"</li>
        <li>currentDate | date : "long" : "GMT-6": "en"</li>
      </ul>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Result">
      <ul>
        <li>{{ currentDate }}</li>
        <li>{{ currentDate | date }}</li>
        <li>{{ currentDate | date : "short" }}</li>
        <li>{{ currentDate | date : "long" }}</li>
        <li>{{ currentDate | date : "yyy:MM:dd" }}</li>
        <li>{{ currentDate | date : "MMMM" }}</li>
        <li>{{ currentDate | date : "MMMM dd" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ currentDate | date : "long" : "GMT-6" }}</li>
        <li>{{ currentDate | date : "long" : "GMT-6" : "en" }}</li>
      </ul>
    </p-card>
  </div>
</div>
