<h2>Dynamics</h2>
<form
  [formGroup]="form"
  autocomplete="off"
  (keydown.enter)="$event.preventDefault()"
>
  <!-- Name | Start -->
  <div class="mb-3">
    <label class="form-label" for="name">Name</label>
    <input id="name" formControlName="name" class="form-control" type="text" />
    <div class="text-danger">
      <small *ngIf="isControlInvalid('name', 'required')">
        Name is required
      </small>
      <small *ngIf="isControlInvalid('name', 'minlength')">
        Name minimum length must be 3
      </small>
    </div>
  </div>
  <!-- Name | End -->
  <!-- Favorite game | Start -->
  <div class="mb-3">
    <label class="form-label" for="favoriteGame">Favorite game</label>
    <div class="input-group">
      <input
        formControlName="favoriteGame"
        class="form-control"
        type="text"
        (keydown.enter)="addFavoriteGame()"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="addFavoriteGame()"
      >
        A
      </button>
    </div>
  </div>
  <!-- Favorite game | End -->
  <!-- Favorite games | Start -->
  <div class="mb-3" formArrayName="favoriteGames">
    <label class="form-label" for="favoriteGames">Favorite games</label>
    <!-- Inputs here -->
    <div
      *ngFor="let favoriteGame of favoriteGames.controls; let index = index"
      class="mb-3"
    >
      <div class="input-group">
        <input [formControlName]="index" class="form-control" type="text" />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="removeFavoriteGame(index)"
        >
          D
        </button>
      </div>
      <small> Name is required </small>
    </div>
  </div>
  <!-- Favorite games | End -->
  <!-- Buttons | Start -->
  <div class="d-flex gap-2">
    <button (click)="submit()" type="submit" class="btn btn-primary">
      Submit
    </button>
    <button (click)="logForm()" type="button" class="btn btn-primary">
      Log form
    </button>
  </div>
  <!-- Buttons | End -->
</form>
<div class="mt-4">
  <p><small>(Pristine)</small> {{ form.pristine }}</p>
  <p><small>(Touched) </small>{{ form.touched }}</p>
  <p><small>(Valid)</small> {{ form.valid }}</p>
  <pre>{{ form.value | json }}</pre>
</div>
